<ion-view view-title="PIKA">
  <ion-content>
  <br>
 <center><h3>Item Info</h3></center>
      <div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Product Name</span>
    <input type="text" placeholder="Product Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Pick Location</span>
    <input type="text" placeholder="Pick Location">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Deliver Location</span>
    <input type="text" placeholder="Deliver Location">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Deliver Date</span>
    <input type="text" placeholder="Deliver Date">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Deliver Time</span>
    <input type="text" placeholder="Deliver Time">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Giver Name</span>
    <input type="text" placeholder="Giver Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Giver Number</span>
    <input type="text" placeholder="Giver Number">
  </label>
</div>
<br>
<center>
<button class="button button-small button-positive">
  Submit
</button>
</center>
<br><br><br>
  </ion-content>
</ion-view>

